* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	background-color: #333;
}
.square {
	width: 300px;
	height: 300px;
	background-color: gold;
}

@media (min-width: 500px) {
	.square {
		background-color: royalblue;
	}
}

@media (min-width: 550px) and (max-width: 850px) {
	.square {
		width: 450px;
	}
}

@media (min-width: 700px) {
	.square {
		background-color: lime;
	}
}

@media (min-width: 800px) {
	body {
		background-image: linear-gradient(
			90deg,
			rgba(42, 123, 155, 1) 0%,
			rgba(87, 199, 133, 1) 50%,
			rgba(237, 221, 83, 1) 100%
		);
	}
}
